body{
    background: radial-gradient(85.64% 85.64% at 50% 50%, #2BA6EB 0%, #245177 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
#map {
    width: 95%;
    height: 450px;
    background: grey;
}

#panel {
    width: 100%;
    height: 400px;
}